.revenue-by-location {
  flex: 1;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 598px;
}

.location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

.rev-section-title {
  font-size: 18px;
  color: #6c757d;
  padding: 10px 15px 15px 15px;
  font-weight: bold;
  color: #6c757d;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mdi-dots-vertical {
  font-size: 20px;
  color: #6c757d;
  cursor: pointer;
}

.mdi-dots-vertical:hover {
  color: #555;
}

.location-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  flex-grow: 1;
  min-height: 300px;
}
